.div_novbar{
    
    position: fixed;
    /* top: 0px; */
    background-color: #A8B6E5;
    display:flex;
    width: auto;
    height: 100px;
    width: 80%;

    margin-bottom: 20px;
}
.div_novbar img{
    border-radius: 50%;
    height: 70px;
    margin: auto 20px auto auto;
}