.div_home{
    /* background-color: rgb(0, 78, 78); */
    display: grid;
    grid-template-columns: 10% 60% 20%;
    gap: 5%;
  
}
/* .elem_menu{
    background-color: #000000;
} */
.elem_post{
    display: block;
    margin: 30px auto 30px auto;
    background-color: #C1CFFF;
    padding: 20px 30px 10px 30px;
    height: auto;
    border: 1px solid #000000; /* Параметры рамки */
    max-width: 800px;
    border-radius: 30px;
  
}
.elem_post_header_ava{
    margin:  auto 10px auto 10px;
    height: 70px;    
    border-radius: 50%;
}
.elem_post_header_btn{
    margin: 1px 0px 0px 0px;
    height: 20px;    
  
}
.elem_post_header{
    /* margin: auto auto auto 100px; */
      
    display: flex;
    height: 100px;
    width: 100%;
}

.h_name{
    margin-top: 30px;
}
.elem_post_h_name{
    display: block;
    margin:  auto auto auto 10px;
   
}
/* .elem_post_h_name p {
    margin-top: px;
} */
.elem_post_h_name_datetime{
    display: flex;
    margin-top: -30px;
}
/* .elem_post_body{
    height: 100px;
} */
.elem_post_body_img{
    /* width: 100%; */
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
    border: solid 1px black;
    height: 500px;

}
.elem_post_btn{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 5px;
}
.elem_post_btn svg{
    margin: 0px auto 0px auto;
    width: 25px;
}